<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.LanyaCoreAlarmMapper">
    
    <resultMap type="LanyaCoreAlarm" id="LanyaCoreAlarmResult">
        <result property="alarmId"    column="alarm_id"    />
        <result property="acceptTime"    column="accept_time"    />
        <result property="alarmType"    column="alarm_type"    />
        <result property="alarmTypeName"    column="alarm_type_name"    />
        <result property="alarmName"    column="alarm_name"    />
        <result property="alarmDesc"    column="alarm_desc"    />
        <result property="alarmStatus"    column="alarm_status"    />
        <result property="areaId"    column="area_id"    />
        <result property="areaName"    column="area_name"    />
        <result property="railId"    column="rail_id"    />
        <result property="railName"    column="rail_name"    />
        <result property="layerId"    column="layer_id"    />
        <result property="layerHeight"    column="layer_height"    />
        <result property="railScope"    column="rail_scope"    />
        <result property="railHeight"    column="rail_height"    />
        <result property="drawType"    column="draw_type"    />
        <result property="longitude"    column="longitude"    />
        <result property="latitude"    column="latitude"    />
        <result property="beaconId"    column="beacon_id"    />
        <result property="cardId"    column="card_id"    />
        <result property="personId"    column="person_id"    />
        <result property="personType"    column="person_type"    />
        <result property="staffType"    column="staff_type"    />
        <result property="realName"    column="real_name"    />
        <result property="jobNumber"    column="job_number"    />
        <result property="administratorName"    column="administrator_name"    />
        <result property="administratorPhone"    column="administrator_phone"    />
        <result property="deptId"    column="dept_id"    />
        <result property="deptName"    column="dept_name"    />
        <result property="postId"    column="post_id"    />
        <result property="postName"    column="post_name"    />
        <result property="contractorId"    column="contractor_id"    />
        <result property="contractorName"    column="contractor_name"    />
        <result property="disposeBy"    column="dispose_by"    />
        <result property="disposeTime"    column="dispose_time"    />
        <result property="disposeFeedback"    column="dispose_feedback"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="endTime"    column="end_time"    />
        <result property="alarmLevel"    column="alarm_level"    />
        <result property="highestAlarmLevel"    column="highest_alarm_level"    />
        <result property="buildingId"    column="building_id"    />
        <result property="buildingName"    column="building_name"    />
    </resultMap>

    <sql id="selectLanyaCoreAlarmVo">
        select alarm_id, accept_time, alarm_type, alarm_type_name, alarm_name, alarm_desc, alarm_status, area_id, area_name, rail_id, rail_name, layer_id, layer_height, rail_scope, rail_height, draw_type, longitude, latitude, beacon_id, card_id, person_id, person_type, staff_type, real_name, job_number, administrator_name, administrator_phone, dept_id, dept_name, post_id, post_name, contractor_id, contractor_name, dispose_by, dispose_time, dispose_feedback, create_by, create_time, update_time, update_by, end_time, alarm_level, highest_alarm_level, building_id, building_name from core_alarm
    </sql>

    <select id="selectLanyaCoreAlarmList" parameterType="LanyaCoreAlarm" resultMap="LanyaCoreAlarmResult">
        <include refid="selectLanyaCoreAlarmVo"/>
        <where>  
            <if test="acceptTime != null "> and accept_time = #{acceptTime}</if>
            <if test="alarmType != null  and alarmType != ''"> and alarm_type = #{alarmType}</if>
            <if test="alarmTypeName != null  and alarmTypeName != ''"> and alarm_type_name like concat('%', #{alarmTypeName}, '%')</if>
            <if test="alarmName != null  and alarmName != ''"> and alarm_name like concat('%', #{alarmName}, '%')</if>
            <if test="alarmDesc != null  and alarmDesc != ''"> and alarm_desc = #{alarmDesc}</if>
            <if test="alarmStatus != null  and alarmStatus != ''"> and alarm_status = #{alarmStatus}</if>
            <if test="areaId != null "> and area_id = #{areaId}</if>
            <if test="areaName != null  and areaName != ''"> and area_name like concat('%', #{areaName}, '%')</if>
            <if test="railId != null "> and rail_id = #{railId}</if>
            <if test="railName != null  and railName != ''"> and rail_name like concat('%', #{railName}, '%')</if>
            <if test="layerId != null  and layerId != ''"> and layer_id = #{layerId}</if>
            <if test="layerHeight != null "> and layer_height = #{layerHeight}</if>
            <if test="railScope != null  and railScope != ''"> and rail_scope = #{railScope}</if>
            <if test="railHeight != null "> and rail_height = #{railHeight}</if>
            <if test="drawType != null "> and draw_type = #{drawType}</if>
            <if test="longitude != null "> and longitude = #{longitude}</if>
            <if test="latitude != null "> and latitude = #{latitude}</if>
            <if test="beaconId != null  and beaconId != ''"> and beacon_id = #{beaconId}</if>
            <if test="cardId != null "> and card_id = #{cardId}</if>
            <if test="personId != null "> and person_id = #{personId}</if>
            <if test="personType != null  and personType != ''"> and person_type = #{personType}</if>
            <if test="staffType != null  and staffType != ''"> and staff_type = #{staffType}</if>
            <if test="realName != null  and realName != ''"> and real_name like concat('%', #{realName}, '%')</if>
            <if test="jobNumber != null  and jobNumber != ''"> and job_number = #{jobNumber}</if>
            <if test="administratorName != null  and administratorName != ''"> and administrator_name like concat('%', #{administratorName}, '%')</if>
            <if test="administratorPhone != null  and administratorPhone != ''"> and administrator_phone = #{administratorPhone}</if>
            <if test="deptId != null "> and dept_id = #{deptId}</if>
            <if test="deptName != null  and deptName != ''"> and dept_name like concat('%', #{deptName}, '%')</if>
            <if test="postId != null "> and post_id = #{postId}</if>
            <if test="postName != null  and postName != ''"> and post_name like concat('%', #{postName}, '%')</if>
            <if test="contractorId != null "> and contractor_id = #{contractorId}</if>
            <if test="contractorName != null  and contractorName != ''"> and contractor_name like concat('%', #{contractorName}, '%')</if>
            <if test="disposeBy != null  and disposeBy != ''"> and dispose_by = #{disposeBy}</if>
            <if test="disposeTime != null "> and dispose_time = #{disposeTime}</if>
            <if test="disposeFeedback != null  and disposeFeedback != ''"> and dispose_feedback = #{disposeFeedback}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
            <if test="alarmLevel != null "> and alarm_level = #{alarmLevel}</if>
            <if test="highestAlarmLevel != null "> and highest_alarm_level = #{highestAlarmLevel}</if>
            <if test="buildingId != null "> and building_id = #{buildingId}</if>
            <if test="buildingName != null  and buildingName != ''"> and building_name like concat('%', #{buildingName}, '%')</if>
        </where>
    </select>
    
    <select id="selectLanyaCoreAlarmByAlarmId" parameterType="Long" resultMap="LanyaCoreAlarmResult">
        <include refid="selectLanyaCoreAlarmVo"/>
        where alarm_id = #{alarmId}
    </select>

    <insert id="insertLanyaCoreAlarm" parameterType="LanyaCoreAlarm" useGeneratedKeys="true" keyProperty="alarmId">
        insert into core_alarm
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="acceptTime != null">accept_time,</if>
            <if test="alarmType != null and alarmType != ''">alarm_type,</if>
            <if test="alarmTypeName != null">alarm_type_name,</if>
            <if test="alarmName != null and alarmName != ''">alarm_name,</if>
            <if test="alarmDesc != null and alarmDesc != ''">alarm_desc,</if>
            <if test="alarmStatus != null and alarmStatus != ''">alarm_status,</if>
            <if test="areaId != null">area_id,</if>
            <if test="areaName != null">area_name,</if>
            <if test="railId != null">rail_id,</if>
            <if test="railName != null">rail_name,</if>
            <if test="layerId != null">layer_id,</if>
            <if test="layerHeight != null">layer_height,</if>
            <if test="railScope != null">rail_scope,</if>
            <if test="railHeight != null">rail_height,</if>
            <if test="drawType != null">draw_type,</if>
            <if test="longitude != null">longitude,</if>
            <if test="latitude != null">latitude,</if>
            <if test="beaconId != null">beacon_id,</if>
            <if test="cardId != null">card_id,</if>
            <if test="personId != null">person_id,</if>
            <if test="personType != null">person_type,</if>
            <if test="staffType != null">staff_type,</if>
            <if test="realName != null">real_name,</if>
            <if test="jobNumber != null">job_number,</if>
            <if test="administratorName != null">administrator_name,</if>
            <if test="administratorPhone != null">administrator_phone,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="deptName != null">dept_name,</if>
            <if test="postId != null">post_id,</if>
            <if test="postName != null">post_name,</if>
            <if test="contractorId != null">contractor_id,</if>
            <if test="contractorName != null">contractor_name,</if>
            <if test="disposeBy != null">dispose_by,</if>
            <if test="disposeTime != null">dispose_time,</if>
            <if test="disposeFeedback != null">dispose_feedback,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="endTime != null">end_time,</if>
            <if test="alarmLevel != null">alarm_level,</if>
            <if test="highestAlarmLevel != null">highest_alarm_level,</if>
            <if test="buildingId != null">building_id,</if>
            <if test="buildingName != null">building_name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="acceptTime != null">#{acceptTime},</if>
            <if test="alarmType != null and alarmType != ''">#{alarmType},</if>
            <if test="alarmTypeName != null">#{alarmTypeName},</if>
            <if test="alarmName != null and alarmName != ''">#{alarmName},</if>
            <if test="alarmDesc != null and alarmDesc != ''">#{alarmDesc},</if>
            <if test="alarmStatus != null and alarmStatus != ''">#{alarmStatus},</if>
            <if test="areaId != null">#{areaId},</if>
            <if test="areaName != null">#{areaName},</if>
            <if test="railId != null">#{railId},</if>
            <if test="railName != null">#{railName},</if>
            <if test="layerId != null">#{layerId},</if>
            <if test="layerHeight != null">#{layerHeight},</if>
            <if test="railScope != null">#{railScope},</if>
            <if test="railHeight != null">#{railHeight},</if>
            <if test="drawType != null">#{drawType},</if>
            <if test="longitude != null">#{longitude},</if>
            <if test="latitude != null">#{latitude},</if>
            <if test="beaconId != null">#{beaconId},</if>
            <if test="cardId != null">#{cardId},</if>
            <if test="personId != null">#{personId},</if>
            <if test="personType != null">#{personType},</if>
            <if test="staffType != null">#{staffType},</if>
            <if test="realName != null">#{realName},</if>
            <if test="jobNumber != null">#{jobNumber},</if>
            <if test="administratorName != null">#{administratorName},</if>
            <if test="administratorPhone != null">#{administratorPhone},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="deptName != null">#{deptName},</if>
            <if test="postId != null">#{postId},</if>
            <if test="postName != null">#{postName},</if>
            <if test="contractorId != null">#{contractorId},</if>
            <if test="contractorName != null">#{contractorName},</if>
            <if test="disposeBy != null">#{disposeBy},</if>
            <if test="disposeTime != null">#{disposeTime},</if>
            <if test="disposeFeedback != null">#{disposeFeedback},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="alarmLevel != null">#{alarmLevel},</if>
            <if test="highestAlarmLevel != null">#{highestAlarmLevel},</if>
            <if test="buildingId != null">#{buildingId},</if>
            <if test="buildingName != null">#{buildingName},</if>
         </trim>
    </insert>

    <update id="updateLanyaCoreAlarm" parameterType="LanyaCoreAlarm">
        update core_alarm
        <trim prefix="SET" suffixOverrides=",">
            <if test="acceptTime != null">accept_time = #{acceptTime},</if>
            <if test="alarmType != null and alarmType != ''">alarm_type = #{alarmType},</if>
            <if test="alarmTypeName != null">alarm_type_name = #{alarmTypeName},</if>
            <if test="alarmName != null and alarmName != ''">alarm_name = #{alarmName},</if>
            <if test="alarmDesc != null and alarmDesc != ''">alarm_desc = #{alarmDesc},</if>
            <if test="alarmStatus != null and alarmStatus != ''">alarm_status = #{alarmStatus},</if>
            <if test="areaId != null">area_id = #{areaId},</if>
            <if test="areaName != null">area_name = #{areaName},</if>
            <if test="railId != null">rail_id = #{railId},</if>
            <if test="railName != null">rail_name = #{railName},</if>
            <if test="layerId != null">layer_id = #{layerId},</if>
            <if test="layerHeight != null">layer_height = #{layerHeight},</if>
            <if test="railScope != null">rail_scope = #{railScope},</if>
            <if test="railHeight != null">rail_height = #{railHeight},</if>
            <if test="drawType != null">draw_type = #{drawType},</if>
            <if test="longitude != null">longitude = #{longitude},</if>
            <if test="latitude != null">latitude = #{latitude},</if>
            <if test="beaconId != null">beacon_id = #{beaconId},</if>
            <if test="cardId != null">card_id = #{cardId},</if>
            <if test="personId != null">person_id = #{personId},</if>
            <if test="personType != null">person_type = #{personType},</if>
            <if test="staffType != null">staff_type = #{staffType},</if>
            <if test="realName != null">real_name = #{realName},</if>
            <if test="jobNumber != null">job_number = #{jobNumber},</if>
            <if test="administratorName != null">administrator_name = #{administratorName},</if>
            <if test="administratorPhone != null">administrator_phone = #{administratorPhone},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="deptName != null">dept_name = #{deptName},</if>
            <if test="postId != null">post_id = #{postId},</if>
            <if test="postName != null">post_name = #{postName},</if>
            <if test="contractorId != null">contractor_id = #{contractorId},</if>
            <if test="contractorName != null">contractor_name = #{contractorName},</if>
            <if test="disposeBy != null">dispose_by = #{disposeBy},</if>
            <if test="disposeTime != null">dispose_time = #{disposeTime},</if>
            <if test="disposeFeedback != null">dispose_feedback = #{disposeFeedback},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="alarmLevel != null">alarm_level = #{alarmLevel},</if>
            <if test="highestAlarmLevel != null">highest_alarm_level = #{highestAlarmLevel},</if>
            <if test="buildingId != null">building_id = #{buildingId},</if>
            <if test="buildingName != null">building_name = #{buildingName},</if>
        </trim>
        where alarm_id = #{alarmId}
    </update>

    <delete id="deleteLanyaCoreAlarmByAlarmId" parameterType="Long">
        delete from core_alarm where alarm_id = #{alarmId}
    </delete>

    <delete id="deleteLanyaCoreAlarmByAlarmIds" parameterType="String">
        delete from core_alarm where alarm_id in 
        <foreach item="alarmId" collection="array" open="(" separator="," close=")">
            #{alarmId}
        </foreach>
    </delete>
</mapper>