<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.LanyaDeviceCardSenderLogMapper">

    <resultMap type="LanyaDeviceCardSenderLog" id="LanyaDeviceCardSenderLogResult">
        <result property="id" column="id"/>
        <result property="deviceSn" column="device_sn"/>
        <result property="deviceName" column="device_name"/>
        <result property="deviceNum" column="device_num"/>
        <result property="cardId" column="card_id"/>
        <result property="personPhoto" column="person_photo"/>
        <result property="commandTime" column="command_time"/>
        <result property="cardSenderType" column="card_sender_type"/>
        <result property="result" column="result"/>
        <result property="remark" column="remark"/>
        <result property="createTime" column="create_time"/>
        <result property="personId" column="person_id"/>
        <result property="realName" column="real_name"/>
        <result property="deptId" column="dept_id"/>
        <result property="deptName" column="dept_name"/>
        <result property="jobNumber" column="job_number"/>
        <result property="idNumber" column="id_number"/>
        <result property="personIc" column="person_ic"/>
        <result property="deviceAims" column="device_aims"/>
        <result property="identifyType" column="identify_type"/>
        <result property="rentType" column="rent_type"/>
        <result property="identifyTime" column="identify_time"/>
        <result property="closedTime" column="closed_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="notifyStatus" column="notify_status"/>
    </resultMap>

    <resultMap type="LanyaDeviceCardSenderLog" id="LanyaDeviceCardSenderLogWithPersonResult">
        <result property="id" column="id"/>
        <result property="deviceSn" column="device_sn"/>
        <result property="deviceName" column="device_name"/>
        <result property="deviceNum" column="device_num"/>
        <result property="cardId" column="card_id"/>
        <result property="personPhoto" column="person_photo"/>
        <result property="commandTime" column="command_time"/>
        <result property="cardSenderType" column="card_sender_type"/>
        <result property="result" column="result"/>
        <result property="remark" column="remark"/>
        <result property="createTime" column="create_time"/>
        <result property="personId" column="person_id"/>
        <result property="realName" column="real_name"/>
        <result property="deptId" column="dept_id"/>
        <result property="deptName" column="dept_name"/>
        <result property="jobNumber" column="job_number"/>
        <result property="idNumber" column="id_number"/>
        <result property="personIc" column="person_ic"/>
        <result property="deviceAims" column="device_aims"/>
        <result property="identifyType" column="identify_type"/>
        <result property="rentType" column="rent_type"/>
        <result property="identifyTime" column="identify_time"/>
        <result property="closedTime" column="closed_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="notifyStatus" column="notify_status"/>
        <result property="personTypeName" column="person_type_name"/>
    </resultMap>

    <sql id="selectLanyaDeviceCardSenderLogVo">
        select id,
               device_sn,
               device_name,
               device_num,
               card_id,
               person_photo,
               command_time,
               card_sender_type,
               result,
               remark,
               create_time,
               person_id,
               real_name,
               dept_id,
               dept_name,
               job_number,
               id_number,
               person_ic,
               device_aims,
               identify_type,
               rent_type,
               identify_time,
               closed_time,
               update_time,
               notify_status
        from device_card_sender_log
    </sql>

    <select id="selectLanyaDeviceCardSenderLogList" parameterType="LanyaDeviceCardSenderLog"
            resultMap="LanyaDeviceCardSenderLogResult">
        <include refid="selectLanyaDeviceCardSenderLogVo"/>
        <where>
            <if test="deviceSn != null  and deviceSn != ''">and device_sn = #{deviceSn}</if>
            <if test="deviceName != null  and deviceName != ''">and device_name like concat('%', #{deviceName}, '%')
            </if>
            <if test="deviceNum != null ">and device_num = #{deviceNum}</if>
            <if test="cardId != null ">and card_id = #{cardId}</if>
            <if test="personPhoto != null  and personPhoto != ''">and person_photo = #{personPhoto}</if>
            <if test="commandTime != null ">and command_time = #{commandTime}</if>
            <if test="cardSenderType != null ">and card_sender_type = #{cardSenderType}</if>
            <if test="result != null  and result != ''">and result = #{result}</if>
            <if test="personId != null ">and person_id = #{personId}</if>
            <if test="realName != null  and realName != ''">and real_name like concat('%', #{realName}, '%')</if>
            <if test="deptId != null ">and dept_id = #{deptId}</if>
            <if test="deptName != null  and deptName != ''">and dept_name like concat('%', #{deptName}, '%')</if>
            <if test="jobNumber != null  and jobNumber != ''">and job_number = #{jobNumber}</if>
            <if test="idNumber != null  and idNumber != ''">and id_number = #{idNumber}</if>
            <if test="personIc != null  and personIc != ''">and person_ic = #{personIc}</if>
            <if test="deviceAims != null ">and device_aims = #{deviceAims}</if>
            <if test="identifyType != null  and identifyType != ''">and identify_type = #{identifyType}</if>
            <if test="rentType != null  and rentType != ''">and rent_type = #{rentType}</if>
            <if test="identifyTime != null ">and identify_time = #{identifyTime}</if>
            <if test="closedTime != null ">and closed_time = #{closedTime}</if>
            <if test="notifyStatus != null  and notifyStatus != ''">and notify_status = #{notifyStatus}</if>
        </where>
    </select>

    <select id="selectLanyaDeviceCardSenderLogListStartTime" resultMap="LanyaDeviceCardSenderLogResult">
        select *
        from device_card_sender_log
        where create_time > #{time}
        order by id asc
            limit #{count}
    </select>

    <select id="selectLanyaDeviceCardSenderLogById" parameterType="Long" resultMap="LanyaDeviceCardSenderLogResult">
        <include refid="selectLanyaDeviceCardSenderLogVo"/>
        where id = #{id}
    </select>

    <select id="selectLanyaDeviceCardSenderLogListByNameCardType" parameterType="String"
            resultMap="LanyaDeviceCardSenderLogWithPersonResult">
        select log.*, dict.dict_label 'person_type_name'
        from device_card_sender_log log
                 left join core_person person on log.person_id = person.person_id
                 left join system_dict dict on dict.dict_type = 'person_type' and dict.dict_value = person.person_type
        where log.card_sender_type = 1
          and (log.card_id LIKE CONCAT('%', #{param}, '%') or log.real_name LIKE CONCAT('%', #{param}, '%'))
    </select>

    <insert id="insertLanyaDeviceCardSenderLog" parameterType="LanyaDeviceCardSenderLog">
        insert into device_card_sender_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="deviceSn != null">device_sn,</if>
            <if test="deviceName != null">device_name,</if>
            <if test="deviceNum != null">device_num,</if>
            <if test="cardId != null">card_id,</if>
            <if test="personPhoto != null">person_photo,</if>
            <if test="commandTime != null">command_time,</if>
            <if test="cardSenderType != null">card_sender_type,</if>
            <if test="result != null">result,</if>
            <if test="remark != null">remark,</if>
            <if test="createTime != null">create_time,</if>
            <if test="personId != null">person_id,</if>
            <if test="realName != null">real_name,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="deptName != null">dept_name,</if>
            <if test="jobNumber != null">job_number,</if>
            <if test="idNumber != null">id_number,</if>
            <if test="personIc != null">person_ic,</if>
            <if test="deviceAims != null">device_aims,</if>
            <if test="identifyType != null">identify_type,</if>
            <if test="rentType != null">rent_type,</if>
            <if test="identifyTime != null">identify_time,</if>
            <if test="closedTime != null">closed_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="notifyStatus != null">notify_status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="deviceSn != null">#{deviceSn},</if>
            <if test="deviceName != null">#{deviceName},</if>
            <if test="deviceNum != null">#{deviceNum},</if>
            <if test="cardId != null">#{cardId},</if>
            <if test="personPhoto != null">#{personPhoto},</if>
            <if test="commandTime != null">#{commandTime},</if>
            <if test="cardSenderType != null">#{cardSenderType},</if>
            <if test="result != null">#{result},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="personId != null">#{personId},</if>
            <if test="realName != null">#{realName},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="deptName != null">#{deptName},</if>
            <if test="jobNumber != null">#{jobNumber},</if>
            <if test="idNumber != null">#{idNumber},</if>
            <if test="personIc != null">#{personIc},</if>
            <if test="deviceAims != null">#{deviceAims},</if>
            <if test="identifyType != null">#{identifyType},</if>
            <if test="rentType != null">#{rentType},</if>
            <if test="identifyTime != null">#{identifyTime},</if>
            <if test="closedTime != null">#{closedTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="notifyStatus != null">#{notifyStatus},</if>
        </trim>
    </insert>

    <update id="updateLanyaDeviceCardSenderLog" parameterType="LanyaDeviceCardSenderLog">
        update device_card_sender_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="deviceSn != null">device_sn = #{deviceSn},</if>
            <if test="deviceName != null">device_name = #{deviceName},</if>
            <if test="deviceNum != null">device_num = #{deviceNum},</if>
            <if test="cardId != null">card_id = #{cardId},</if>
            <if test="personPhoto != null">person_photo = #{personPhoto},</if>
            <if test="commandTime != null">command_time = #{commandTime},</if>
            <if test="cardSenderType != null">card_sender_type = #{cardSenderType},</if>
            <if test="result != null">result = #{result},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="personId != null">person_id = #{personId},</if>
            <if test="realName != null">real_name = #{realName},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="deptName != null">dept_name = #{deptName},</if>
            <if test="jobNumber != null">job_number = #{jobNumber},</if>
            <if test="idNumber != null">id_number = #{idNumber},</if>
            <if test="personIc != null">person_ic = #{personIc},</if>
            <if test="deviceAims != null">device_aims = #{deviceAims},</if>
            <if test="identifyType != null">identify_type = #{identifyType},</if>
            <if test="rentType != null">rent_type = #{rentType},</if>
            <if test="identifyTime != null">identify_time = #{identifyTime},</if>
            <if test="closedTime != null">closed_time = #{closedTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="notifyStatus != null">notify_status = #{notifyStatus},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteLanyaDeviceCardSenderLogById" parameterType="Long">
        delete
        from device_card_sender_log
        where id = #{id}
    </delete>

    <delete id="deleteLanyaDeviceCardSenderLogByIds" parameterType="String">
        delete from device_card_sender_log where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>