<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.WmsMaterialStockMapper">
    
    <resultMap type="WmsMaterialStock" id="WmsMaterialStockResult">
        <result property="inventoryId"    column="inventory_id"    />
        <result property="wzbm"    column="wzbm"    />
        <result property="actualWeight"    column="actual_weight"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
        <result property="wzmc"    column="wzmc"    />
        <result property="jldw"    column="jldw"    />
        <result property="warehouse"    column="warehouse"    />
        <result property="bookWeight"    column="book_weight"    />
        <result property="varietyCode"    column="varietyCode"    />
        <result property="pzmc"    column="pzmc"    />
        <result property="wzlb"    column="wzlb"    />
        <result property="reservedWeight"    column="reserved_weight"    />
        <result property="availableWeight"    column="available_weight"    />
        <result property="squadron"    column="squadron"    />
        <result property="team"    column="team"    />
        <result property="company"    column="company"    />
        <result property="areaCodes"    column="area_codes"    />
    </resultMap>

    <select id="selectWmsMaterialStockListByAreaNames"  resultMap="WmsMaterialStockResult">
        select * from wms_material_stock a
        <where>
            a.wzmc in (
            <foreach item="item" collection="wzmcs" separator=",">
                #{item}
            </foreach>
            )
            <if test="wmsMaterialStock.inventoryId != null  and wmsMaterialStock.inventoryId != ''"> and a.inventory_id = #{wmsMaterialStock.inventoryId}</if>
            <if test="wmsMaterialStock.wzbm != null  and wmsMaterialStock.wzbm != ''"> and a.wzbm = #{wmsMaterialStock.wmsMaterialStock.wzbm}</if>
            <if test="wmsMaterialStock.actualWeight != null "> and a.actual_weight = #{wmsMaterialStock.actualWeight}</if>
            <if test="wmsMaterialStock.status != null  and wmsMaterialStock.status != ''"> and a.status = #{wmsMaterialStock.status}</if>
            <if test="wmsMaterialStock.wzmc != null  and wmsMaterialStock.wzmc != ''"> and a.wzmc like concat('%', #{wmsMaterialStock.wmsMaterialStock.wzmc}, '%')</if>
            <if test="wmsMaterialStock.jldw != null  and wmsMaterialStock.jldw != ''"> and a.jldw = #{wmsMaterialStock.wmsMaterialStock.jldw}</if>
            <if test="wmsMaterialStock.warehouse != null  and wmsMaterialStock.warehouse != ''"> and a.warehouse = #{wmsMaterialStock.warehouse}</if>
            <if test="wmsMaterialStock.bookWeight != null "> and a.book_weight = #{wmsMaterialStock.bookWeight}</if>
            <if test="wmsMaterialStock.varietyCode != null  and wmsMaterialStock.varietyCode != ''"> and a.variety_code = #{wmsMaterialStock.varietyCode}</if>
            <if test="wmsMaterialStock.pzmc != null  and wmsMaterialStock.pzmc != ''"> and a.pzmc like concat('%', #{wmsMaterialStock.wmsMaterialStock.pzmc}, '%')</if>
            <if test="wmsMaterialStock.wzlb != null  and wmsMaterialStock.wzlb != ''"> and a.wzlb = #{wmsMaterialStock.wmsMaterialStock.wzlb}</if>
            <if test="wmsMaterialStock.reservedWeight != null "> and a.reserved_weight = #{wmsMaterialStock.reservedWeight}</if>
            <if test="wmsMaterialStock.availableWeight != null "> and a.available_weight = #{wmsMaterialStock.availableWeight}</if>
            <if test="wmsMaterialStock.squadron != null  and wmsMaterialStock.squadron != ''"> and a.squadron = #{wmsMaterialStock.squadron}</if>
            <if test="wmsMaterialStock.team != null  and wmsMaterialStock.team != ''"> and a.team = #{wmsMaterialStock.team}</if>
            <if test="wmsMaterialStock.company != null  and wmsMaterialStock.company != ''"> and a.company = #{wmsMaterialStock.company}</if>
        </where>
    </select>
    <sql id="selectWmsMaterialStockVo">
        select inventory_id, wzbm, actual_weight, status, remark, wzmc, jldw, warehouse, book_weight, pzmc, wzlb, reserved_weight, available_weight, squadron, team, company from wms_material_stock
    </sql>

    <select id="selectWmsMaterialStockList" parameterType="WmsMaterialStock" resultMap="WmsMaterialStockResult">
        select a.inventory_id, a.wzbm, a.actual_weight, a.status, a.remark, a.wzmc, a.jldw, a.warehouse, a.book_weight, a.pzmc, a.wzlb, a.reserved_weight, a.available_weight, a.squadron, a.team, a.company, b.area_codes from wms_material_stock a left join wms_material_desc b on a.wzmc = b.wzmc
        <where>
            <if test="inventoryId != null  and inventoryId != ''"> and a.inventory_id = #{inventoryId}</if>
            <if test="wzbm != null  and wzbm != ''"> and a.wzbm = #{wzbm}</if>
            <if test="actualWeight != null "> and a.actual_weight = #{actualWeight}</if>
            <if test="status != null  and status != ''"> and a.status = #{status}</if>
            <if test="wzmc != null  and wzmc != ''"> and a.wzmc like concat('%', #{wzmc}, '%')</if>
            <if test="jldw != null  and jldw != ''"> and a.jldw = #{jldw}</if>
            <if test="warehouse != null  and warehouse != ''"> and a.warehouse = #{warehouse}</if>
            <if test="bookWeight != null "> and a.book_weight = #{bookWeight}</if>
            <if test="varietyCode != null  and varietyCode != ''"> and a.variety_code = #{varietyCode}</if>
            <if test="pzmc != null  and pzmc != ''"> and a.pzmc like concat('%', #{pzmc}, '%')</if>
            <if test="wzlb != null  and wzlb != ''"> and a.wzlb = #{wzlb}</if>
            <if test="reservedWeight != null "> and a.reserved_weight = #{reservedWeight}</if>
            <if test="availableWeight != null "> and a.available_weight = #{availableWeight}</if>
            <if test="squadron != null  and squadron != ''"> and a.squadron = #{squadron}</if>
            <if test="team != null  and team != ''"> and a.team = #{team}</if>
            <if test="company != null  and company != ''"> and a.company = #{company}</if>
        </where>
    </select>

    <select id="selectWmsMaterialStockByInventoryId" parameterType="String" resultMap="WmsMaterialStockResult">
        <include refid="selectWmsMaterialStockVo"/>
        where inventory_id = #{inventoryId}
    </select>

    <insert id="insertWmsMaterialStock" parameterType="WmsMaterialStock">
        insert into wms_material_stock
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="inventoryId != null">inventory_id,</if>
            <if test="wzbm != null">wzbm,</if>
            <if test="actualWeight != null">actual_weight,</if>
            <if test="status != null">status,</if>
            <if test="remark != null">remark,</if>
            <if test="wzmc != null">wzmc,</if>
            <if test="jldw != null">jldw,</if>
            <if test="warehouse != null">warehouse,</if>
            <if test="bookWeight != null">book_weight,</if>
            <if test="varietyCode != null">variety_code,</if>
            <if test="pzmc != null">pzmc,</if>
            <if test="wzlb != null">wzlb,</if>
            <if test="reservedWeight != null">reserved_weight,</if>
            <if test="availableWeight != null">available_weight,</if>
            <if test="squadron != null">squadron,</if>
            <if test="team != null">team,</if>
            <if test="company != null">company,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="inventoryId != null">#{inventoryId},</if>
            <if test="wzbm != null">#{wzbm},</if>
            <if test="actualWeight != null">#{actualWeight},</if>
            <if test="status != null">#{status},</if>
            <if test="remark != null">#{remark},</if>
            <if test="wzmc != null">#{wzmc},</if>
            <if test="jldw != null">#{jldw},</if>
            <if test="warehouse != null">#{warehouse},</if>
            <if test="bookWeight != null">#{bookWeight},</if>
            <if test="varietyCode != null">#{varietyCode},</if>
            <if test="pzmc != null">#{pzmc},</if>
            <if test="wzlb != null">#{wzlb},</if>
            <if test="reservedWeight != null">#{reservedWeight},</if>
            <if test="availableWeight != null">#{availableWeight},</if>
            <if test="squadron != null">#{squadron},</if>
            <if test="team != null">#{team},</if>
            <if test="company != null">#{company},</if>
         </trim>
    </insert>

    <update id="updateWmsMaterialStock" parameterType="WmsMaterialStock">
        update wms_material_stock
        <trim prefix="SET" suffixOverrides=",">
            <if test="wzbm != null">wzbm = #{wzbm},</if>
            <if test="actualWeight != null">actual_weight = #{actualWeight},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="wzmc != null">wzmc = #{wzmc},</if>
            <if test="jldw != null">jldw = #{jldw},</if>
            <if test="warehouse != null">warehouse = #{warehouse},</if>
            <if test="bookWeight != null">book_weight = #{bookWeight},</if>
            <if test="varietyCode != null">variety_code = #{varietyCode},</if>
            <if test="pzmc != null">pzmc = #{pzmc},</if>
            <if test="wzlb != null">wzlb = #{wzlb},</if>
            <if test="reservedWeight != null">reserved_weight = #{reservedWeight},</if>
            <if test="availableWeight != null">available_weight = #{availableWeight},</if>
            <if test="squadron != null">squadron = #{squadron},</if>
            <if test="team != null">team = #{team},</if>
            <if test="company != null">company = #{company},</if>
        </trim>
        where inventory_id = #{inventoryId}
    </update>

    <delete id="deleteWmsMaterialStockByInventoryId" parameterType="String">
        delete from wms_material_stock where inventory_id = #{inventoryId}
    </delete>

    <delete id="deleteWmsMaterialStockByInventoryIds" parameterType="String">
        delete from wms_material_stock where inventory_id in 
        <foreach item="inventoryId" collection="array" open="(" separator="," close=")">
            #{inventoryId}
        </foreach>
    </delete>

    <delete id="deleteWmsMaterialStockAll" parameterType="Integer">
        delete from wms_material_stock
    </delete>
</mapper>