<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.WmsMaterialStockMapper">
    
    <resultMap type="WmsMaterialStock" id="WmsMaterialStockResult">
        <result property="inventoryId"    column="inventory_id"    />
        <result property="wzbm"    column="wzbm"    />
        <result property="actualWeight"    column="actual_weight"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
        <result property="wzmc"    column="wzmc"    />
        <result property="jldw"    column="jldw"    />
        <result property="warehouse"    column="warehouse"    />
        <result property="bookWeight"    column="book_weight"    />
        <result property="varietyCode"    column="varietyCode"    />
        <result property="pzmc"    column="pzmc"    />
        <result property="wzlb"    column="wzlb"    />
        <result property="reservedWeight"    column="reserved_weight"    />
        <result property="availableWeight"    column="available_weight"    />
        <result property="squadron"    column="squadron"    />
        <result property="team"    column="team"    />
        <result property="company"    column="company"    />
    </resultMap>

    <sql id="selectWmsMaterialStockVo">
        select inventory_id, wzbm, actual_weight, status, remark, wzmc, jldw, warehouse, book_weight, pzmc, variety_name, wzlb, reserved_weight, available_weight, squadron, team, company from wms_material_stock
    </sql>

    <select id="selectWmsMaterialStockList" parameterType="WmsMaterialStock" resultMap="WmsMaterialStockResult">
        <include refid="selectWmsMaterialStockVo"/>
        <where>
            <if test="inventoryId != null  and inventoryId != ''"> and inventory_id = #{inventoryId}</if>
            <if test="wzbm != null  and wzbm != ''"> and wzbm = #{wzbm}</if>
            <if test="actualWeight != null "> and actual_weight = #{actualWeight}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="wzmc != null  and wzmc != ''"> and wzmc like concat('%', #{wzmc}, '%')</if>
            <if test="jldw != null  and jldw != ''"> and jldw = #{jldw}</if>
            <if test="warehouse != null  and warehouse != ''"> and warehouse = #{warehouse}</if>
            <if test="bookWeight != null "> and book_weight = #{bookWeight}</if>
            <if test="varietyCode != null  and varietyCode != ''"> and variety_code = #{varietyCode}</if>
            <if test="pzmc != null  and pzmc != ''"> and pzmc like concat('%', #{pzmc}, '%')</if>
            <if test="wzlb != null  and wzlb != ''"> and wzlb = #{wzlb}</if>
            <if test="reservedWeight != null "> and reserved_weight = #{reservedWeight}</if>
            <if test="availableWeight != null "> and available_weight = #{availableWeight}</if>
            <if test="squadron != null  and squadron != ''"> and squadron = #{squadron}</if>
            <if test="team != null  and team != ''"> and team = #{team}</if>
            <if test="company != null  and company != ''"> and company = #{company}</if>
        </where>
    </select>

    <select id="selectWmsMaterialStockByInventoryId" parameterType="String" resultMap="WmsMaterialStockResult">
        <include refid="selectWmsMaterialStockVo"/>
        where inventory_id = #{inventoryId}
    </select>

    <insert id="insertWmsMaterialStock" parameterType="WmsMaterialStock">
        insert into wms_material_stock
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="inventoryId != null">inventory_id,</if>
            <if test="wzbm != null">wzbm,</if>
            <if test="actualWeight != null">actual_weight,</if>
            <if test="status != null">status,</if>
            <if test="remark != null">remark,</if>
            <if test="wzmc != null">wzmc,</if>
            <if test="jldw != null">jldw,</if>
            <if test="warehouse != null">warehouse,</if>
            <if test="bookWeight != null">book_weight,</if>
            <if test="varietyCode != null">variety_code,</if>
            <if test="pzmc != null">pzmc,</if>
            <if test="wzlb != null">wzlb,</if>
            <if test="reservedWeight != null">reserved_weight,</if>
            <if test="availableWeight != null">available_weight,</if>
            <if test="squadron != null">squadron,</if>
            <if test="team != null">team,</if>
            <if test="company != null">company,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="inventoryId != null">#{inventoryId},</if>
            <if test="wzbm != null">#{wzbm},</if>
            <if test="actualWeight != null">#{actualWeight},</if>
            <if test="status != null">#{status},</if>
            <if test="remark != null">#{remark},</if>
            <if test="wzmc != null">#{wzmc},</if>
            <if test="jldw != null">#{jldw},</if>
            <if test="warehouse != null">#{warehouse},</if>
            <if test="bookWeight != null">#{bookWeight},</if>
            <if test="varietyCode != null">#{varietyCode},</if>
            <if test="pzmc != null">#{pzmc},</if>
            <if test="wzlb != null">#{wzlb},</if>
            <if test="reservedWeight != null">#{reservedWeight},</if>
            <if test="availableWeight != null">#{availableWeight},</if>
            <if test="squadron != null">#{squadron},</if>
            <if test="team != null">#{team},</if>
            <if test="company != null">#{company},</if>
         </trim>
    </insert>

    <update id="updateWmsMaterialStock" parameterType="WmsMaterialStock">
        update wms_material_stock
        <trim prefix="SET" suffixOverrides=",">
            <if test="wzbm != null">wzbm = #{wzbm},</if>
            <if test="actualWeight != null">actual_weight = #{actualWeight},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="wzmc != null">wzmc = #{wzmc},</if>
            <if test="jldw != null">jldw = #{jldw},</if>
            <if test="warehouse != null">warehouse = #{warehouse},</if>
            <if test="bookWeight != null">book_weight = #{bookWeight},</if>
            <if test="varietyCode != null">variety_code = #{varietyCode},</if>
            <if test="pzmc != null">pzmc = #{pzmc},</if>
            <if test="wzlb != null">wzlb = #{wzlb},</if>
            <if test="reservedWeight != null">reserved_weight = #{reservedWeight},</if>
            <if test="availableWeight != null">available_weight = #{availableWeight},</if>
            <if test="squadron != null">squadron = #{squadron},</if>
            <if test="team != null">team = #{team},</if>
            <if test="company != null">company = #{company},</if>
        </trim>
        where inventory_id = #{inventoryId}
    </update>

    <delete id="deleteWmsMaterialStockByInventoryId" parameterType="String">
        delete from wms_material_stock where inventory_id = #{inventoryId}
    </delete>

    <delete id="deleteWmsMaterialStockByInventoryIds" parameterType="String">
        delete from wms_material_stock where inventory_id in 
        <foreach item="inventoryId" collection="array" open="(" separator="," close=")">
            #{inventoryId}
        </foreach>
    </delete>

    <delete id="deleteWmsMaterialStockAll" parameterType="Integer">
        delete from wms_material_stock
    </delete>
</mapper>