<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.WmsMaterialStockMapper">
    
    <resultMap type="WmsMaterialStock" id="WmsMaterialStockResult">
        <result property="inventoryId"    column="inventory_id"    />
        <result property="materialCode"    column="material_code"    />
        <result property="actualWeight"    column="actual_weight"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
        <result property="materialName"    column="material_name"    />
        <result property="unit"    column="unit"    />
        <result property="warehouse"    column="warehouse"    />
        <result property="bookWeight"    column="book_weight"    />
        <result property="varietyCode"    column="variety_code"    />
        <result property="varietyName"    column="variety_name"    />
        <result property="materialCategory"    column="material_category"    />
        <result property="reservedWeight"    column="reserved_weight"    />
        <result property="availableWeight"    column="available_weight"    />
        <result property="squadron"    column="squadron"    />
        <result property="team"    column="team"    />
        <result property="company"    column="company"    />
    </resultMap>

    <sql id="selectWmsMaterialStockVo">
        select inventory_id, material_code, actual_weight, status, remark, material_name, unit, warehouse, book_weight, variety_code, variety_name, material_category, reserved_weight, available_weight, squadron, team, company from wms_material_stock
    </sql>

    <select id="selectWmsMaterialStockList" parameterType="WmsMaterialStock" resultMap="WmsMaterialStockResult">
        <include refid="selectWmsMaterialStockVo"/>
        <where>  
            <if test="inventoryId != null  and inventoryId != ''"> and inventory_id = #{inventoryId}</if>
            <if test="materialCode != null  and materialCode != ''"> and material_code = #{materialCode}</if>
            <if test="actualWeight != null "> and actual_weight = #{actualWeight}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="materialName != null  and materialName != ''"> and material_name like concat('%', #{materialName}, '%')</if>
            <if test="unit != null  and unit != ''"> and unit = #{unit}</if>
            <if test="warehouse != null  and warehouse != ''"> and warehouse = #{warehouse}</if>
            <if test="bookWeight != null "> and book_weight = #{bookWeight}</if>
            <if test="varietyCode != null  and varietyCode != ''"> and variety_code = #{varietyCode}</if>
            <if test="varietyName != null  and varietyName != ''"> and variety_name like concat('%', #{varietyName}, '%')</if>
            <if test="materialCategory != null  and materialCategory != ''"> and material_category = #{materialCategory}</if>
            <if test="reservedWeight != null "> and reserved_weight = #{reservedWeight}</if>
            <if test="availableWeight != null "> and available_weight = #{availableWeight}</if>
            <if test="squadron != null  and squadron != ''"> and squadron = #{squadron}</if>
            <if test="team != null  and team != ''"> and team = #{team}</if>
            <if test="company != null  and company != ''"> and company = #{company}</if>
        </where>
    </select>
    
    <select id="selectWmsMaterialStockByInventoryId" parameterType="String" resultMap="WmsMaterialStockResult">
        <include refid="selectWmsMaterialStockVo"/>
        where inventory_id = #{inventoryId}
    </select>

    <insert id="insertWmsMaterialStock" parameterType="WmsMaterialStock">
        insert into wms_material_stock
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="inventoryId != null">inventory_id,</if>
            <if test="materialCode != null">material_code,</if>
            <if test="actualWeight != null">actual_weight,</if>
            <if test="status != null">status,</if>
            <if test="remark != null">remark,</if>
            <if test="materialName != null">material_name,</if>
            <if test="unit != null">unit,</if>
            <if test="warehouse != null">warehouse,</if>
            <if test="bookWeight != null">book_weight,</if>
            <if test="varietyCode != null">variety_code,</if>
            <if test="varietyName != null">variety_name,</if>
            <if test="materialCategory != null">material_category,</if>
            <if test="reservedWeight != null">reserved_weight,</if>
            <if test="availableWeight != null">available_weight,</if>
            <if test="squadron != null">squadron,</if>
            <if test="team != null">team,</if>
            <if test="company != null">company,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="inventoryId != null">#{inventoryId},</if>
            <if test="materialCode != null">#{materialCode},</if>
            <if test="actualWeight != null">#{actualWeight},</if>
            <if test="status != null">#{status},</if>
            <if test="remark != null">#{remark},</if>
            <if test="materialName != null">#{materialName},</if>
            <if test="unit != null">#{unit},</if>
            <if test="warehouse != null">#{warehouse},</if>
            <if test="bookWeight != null">#{bookWeight},</if>
            <if test="varietyCode != null">#{varietyCode},</if>
            <if test="varietyName != null">#{varietyName},</if>
            <if test="materialCategory != null">#{materialCategory},</if>
            <if test="reservedWeight != null">#{reservedWeight},</if>
            <if test="availableWeight != null">#{availableWeight},</if>
            <if test="squadron != null">#{squadron},</if>
            <if test="team != null">#{team},</if>
            <if test="company != null">#{company},</if>
         </trim>
    </insert>

    <update id="updateWmsMaterialStock" parameterType="WmsMaterialStock">
        update wms_material_stock
        <trim prefix="SET" suffixOverrides=",">
            <if test="materialCode != null">material_code = #{materialCode},</if>
            <if test="actualWeight != null">actual_weight = #{actualWeight},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="materialName != null">material_name = #{materialName},</if>
            <if test="unit != null">unit = #{unit},</if>
            <if test="warehouse != null">warehouse = #{warehouse},</if>
            <if test="bookWeight != null">book_weight = #{bookWeight},</if>
            <if test="varietyCode != null">variety_code = #{varietyCode},</if>
            <if test="varietyName != null">variety_name = #{varietyName},</if>
            <if test="materialCategory != null">material_category = #{materialCategory},</if>
            <if test="reservedWeight != null">reserved_weight = #{reservedWeight},</if>
            <if test="availableWeight != null">available_weight = #{availableWeight},</if>
            <if test="squadron != null">squadron = #{squadron},</if>
            <if test="team != null">team = #{team},</if>
            <if test="company != null">company = #{company},</if>
        </trim>
        where inventory_id = #{inventoryId}
    </update>

    <delete id="deleteWmsMaterialStockByInventoryId" parameterType="String">
        delete from wms_material_stock where inventory_id = #{inventoryId}
    </delete>

    <delete id="deleteWmsMaterialStockByInventoryIds" parameterType="String">
        delete from wms_material_stock where inventory_id in 
        <foreach item="inventoryId" collection="array" open="(" separator="," close=")">
            #{inventoryId}
        </foreach>
    </delete>

    <delete id="deleteWmsMaterialStockAll" parameterType="Integer">
        delete from wms_material_stock
    </delete>
</mapper>