<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.WmsMaterialIdentifyRecordMapper">
    
    <resultMap type="WmsMaterialIdentifyRecord" id="WmsMaterialIdentifyRecordResult">
        <result property="ymd"    column="ymd"    />
        <result property="hms"    column="hms"    />
        <result property="wzbm"    column="wzbm"    />
        <result property="wlsbjg"    column="wlsbjg"    />
        <result property="cph"    column="cph"    />
        <result property="czs"    column="czs"    />
        <result property="img1"    column="img1"    />
        <result property="mg2"    column="mg2"    />
    </resultMap>

    <sql id="selectWmsMaterialIdentifyRecordVo">
        select ymd, hms, wzbm, wlsbjg, cph, czs, img1, mg2 from wms_material_identify_record
    </sql>

    <select id="selectWmsMaterialIdentifyRecordList" parameterType="WmsMaterialIdentifyRecord" resultMap="WmsMaterialIdentifyRecordResult">
        <include refid="selectWmsMaterialIdentifyRecordVo"/>
        <where>  
            <if test="ymd != null  and ymd != ''"> and ymd = #{ymd}</if>
            <if test="hms != null  and hms != ''"> and hms = #{hms}</if>
            <if test="wzbm != null  and wzbm != ''"> and wzbm = #{wzbm}</if>
            <if test="wlsbjg != null  and wlsbjg != ''"> and wlsbjg = #{wlsbjg}</if>
            <if test="cph != null  and cph != ''"> and cph = #{cph}</if>
            <if test="czs != null  and czs != ''"> and czs = #{czs}</if>
            <if test="img1 != null  and img1 != ''"> and img1 = #{img1}</if>
            <if test="mg2 != null  and mg2 != ''"> and mg2 = #{mg2}</if>
        </where>
    </select>
    
    <select id="selectWmsMaterialIdentifyRecordByYmd" parameterType="String" resultMap="WmsMaterialIdentifyRecordResult">
        <include refid="selectWmsMaterialIdentifyRecordVo"/>
        where ymd = #{ymd}
    </select>

    <insert id="insertWmsMaterialIdentifyRecord" parameterType="WmsMaterialIdentifyRecord">
        insert into wms_material_identify_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ymd != null">ymd,</if>
            <if test="hms != null">hms,</if>
            <if test="wzbm != null">wzbm,</if>
            <if test="wlsbjg != null">wlsbjg,</if>
            <if test="cph != null">cph,</if>
            <if test="czs != null">czs,</if>
            <if test="img1 != null">img1,</if>
            <if test="mg2 != null">mg2,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ymd != null">#{ymd},</if>
            <if test="hms != null">#{hms},</if>
            <if test="wzbm != null">#{wzbm},</if>
            <if test="wlsbjg != null">#{wlsbjg},</if>
            <if test="cph != null">#{cph},</if>
            <if test="czs != null">#{czs},</if>
            <if test="img1 != null">#{img1},</if>
            <if test="mg2 != null">#{mg2},</if>
         </trim>
    </insert>

    <update id="updateWmsMaterialIdentifyRecord" parameterType="WmsMaterialIdentifyRecord">
        update wms_material_identify_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="hms != null">hms = #{hms},</if>
            <if test="wzbm != null">wzbm = #{wzbm},</if>
            <if test="wlsbjg != null">wlsbjg = #{wlsbjg},</if>
            <if test="cph != null">cph = #{cph},</if>
            <if test="czs != null">czs = #{czs},</if>
            <if test="img1 != null">img1 = #{img1},</if>
            <if test="mg2 != null">mg2 = #{mg2},</if>
        </trim>
        where ymd = #{ymd}
    </update>

    <delete id="deleteWmsMaterialIdentifyRecordByYmd" parameterType="String">
        delete from wms_material_identify_record where ymd = #{ymd}
    </delete>

    <delete id="deleteWmsMaterialIdentifyRecordByYmds" parameterType="String">
        delete from wms_material_identify_record where ymd in 
        <foreach item="ymd" collection="array" open="(" separator="," close=")">
            #{ymd}
        </foreach>
    </delete>
</mapper>