<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.WmsVehicleBlacklistMapper">
    
    <resultMap type="WmsVehicleBlacklist" id="WmsVehicleBlacklistResult">
        <result property="id"    column="id"    />
        <result property="vehiclePlateNo"    column="vehicle_plate_no"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectWmsVehicleBlacklistVo">
        select id, vehicle_plate_no, create_time, update_time from wms_vehicle_blacklist
    </sql>

    <select id="selectWmsVehicleBlacklistList" parameterType="WmsVehicleBlacklist" resultMap="WmsVehicleBlacklistResult">
        <include refid="selectWmsVehicleBlacklistVo"/>
        <where>  
            <if test="vehiclePlateNo != null  and vehiclePlateNo != ''"> and vehicle_plate_no = #{vehiclePlateNo}</if>
        </where>
    </select>
    
    <select id="selectWmsVehicleBlacklistById" parameterType="Long" resultMap="WmsVehicleBlacklistResult">
        <include refid="selectWmsVehicleBlacklistVo"/>
        where id = #{id}
    </select>

    <insert id="insertWmsVehicleBlacklist" parameterType="WmsVehicleBlacklist" useGeneratedKeys="true" keyProperty="id">
        insert into wms_vehicle_blacklist
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="vehiclePlateNo != null and vehiclePlateNo != ''">vehicle_plate_no,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="vehiclePlateNo != null and vehiclePlateNo != ''">#{vehiclePlateNo},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateWmsVehicleBlacklist" parameterType="WmsVehicleBlacklist">
        update wms_vehicle_blacklist
        <trim prefix="SET" suffixOverrides=",">
            <if test="vehiclePlateNo != null and vehiclePlateNo != ''">vehicle_plate_no = #{vehiclePlateNo},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWmsVehicleBlacklistById" parameterType="Long">
        delete from wms_vehicle_blacklist where id = #{id}
    </delete>

    <delete id="deleteWmsVehicleBlacklistByIds" parameterType="String">
        delete from wms_vehicle_blacklist where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>