<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.WmsVehicleRecordMapper">
    
    <resultMap type="WmsVehicleRecord" id="WmsVehicleRecordResult">
        <result property="id"    column="id"    />
        <result property="vehiclePlateNo"    column="vehicle_plate_no"    />
        <result property="type"    column="type"    />
        <result property="photos"    column="photos"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectWmsVehicleRecordVo">
        select id, vehicle_plate_no, type, photos, create_time, update_time from wms_vehicle_record
    </sql>

    <select id="selectWmsVehicleRecordList" parameterType="WmsVehicleRecord" resultMap="WmsVehicleRecordResult">
        <include refid="selectWmsVehicleRecordVo"/>
        <where>  
            <if test="vehiclePlateNo != null  and vehiclePlateNo != ''"> and vehicle_plate_no = #{vehiclePlateNo}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="photos != null  and photos != ''"> and photos = #{photos}</if>
        </where>
    </select>
    
    <select id="selectWmsVehicleRecordById" parameterType="Long" resultMap="WmsVehicleRecordResult">
        <include refid="selectWmsVehicleRecordVo"/>
        where id = #{id}
    </select>

    <insert id="insertWmsVehicleRecord" parameterType="WmsVehicleRecord" useGeneratedKeys="true" keyProperty="id">
        insert into wms_vehicle_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="vehiclePlateNo != null and vehiclePlateNo != ''">vehicle_plate_no,</if>
            <if test="type != null and type != ''">type,</if>
            <if test="photos != null">photos,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="vehiclePlateNo != null and vehiclePlateNo != ''">#{vehiclePlateNo},</if>
            <if test="type != null and type != ''">#{type},</if>
            <if test="photos != null">#{photos},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateWmsVehicleRecord" parameterType="WmsVehicleRecord">
        update wms_vehicle_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="vehiclePlateNo != null and vehiclePlateNo != ''">vehicle_plate_no = #{vehiclePlateNo},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="photos != null">photos = #{photos},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWmsVehicleRecordById" parameterType="Long">
        delete from wms_vehicle_record where id = #{id}
    </delete>

    <delete id="deleteWmsVehicleRecordByIds" parameterType="String">
        delete from wms_vehicle_record where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>