<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.WzjtViewDbSkMapper">

    <resultMap type="WmsMaterialOut" id="ViewDbSkResult">
        <result property="allotDetailId" column="调拨明细编号" />
        <result property="storehouseId" column="库房编号" />
        <result property="documentType" column="单据类型" />
        <result property="carNumber" column="车号" />
        <result property="carModel" column="车型" />
        <result property="grossWeight" column="毛重" />
        <result property="tareWeight" column="皮重" />
        <result property="netWeight" column="净重" />
        <result property="meterId" column="仪表编号" />
        <result property="department" column="部门" />
        <result property="measureImageFile" column="计量图片文件" />
        <result property="measureVideoFile" column="计量录像文件" />
        <result property="guard" column="门卫" />
        <result property="outboundTime" column="出库时间" />
        <result property="measurer" column="计量员" />
        <result property="measureTime" column="计量时间" />
        <result property="tareImageFile" column="皮重图片文件" />
        <result property="tareVideoFile" column="皮重录像文件" />
        <result property="documentStatus" column="单据状态" />
        <result property="custodian" column="保管员" />
        <result property="operateTime" column="操作时间" />
        <result property="adjustQuantity" column="调整数量" />
        <result property="measureCurvature" column="计量曲率" />
        <result property="outboundId" column="出库编号" />
        <result property="measureType" column="计量类型" />
        <result property="pieceCount" column="件数" />
        <result property="originalDocumentId" column="原单编号" />
        <result property="remark" column="备注" />
        <result property="cardId" column="卡号" />
        <result property="allotId" column="调拨编号" />
        <result property="allotCode" column="调拨编码" />
        <result property="allotType" column="调拨类型" />
        <result property="customerCode" column="客户编码" />
        <result property="customerName" column="客户名称" />
        <result property="materialGroup" column="物料组" />
        <result property="wzbm" column="物资编码" />
        <result property="wzmc" column="物资名称" />
        <result property="jldw" column="计量单位" />
        <result property="salesCompany" column="销售公司" />
        <result property="storehouse" column="库房" />
        <result property="materialYard" column="料场" />
        <result property="allotQuantity" column="调拨数量" />
        <result property="actualQuantity" column="实发数量" />
        <result property="carCount" column="车数" />
        <result property="plannedPrice" column="计划单价" />
        <result property="salesPrice" column="销售单价" />
        <result property="taxRate" column="税率" />
        <result property="allotOperator" column="调拨员" />
        <result property="allotTime" column="调拨时间" />
        <result property="balance" column="余额" />
        <result property="tailMaterial" column="尾料" />
        <result property="surplusMaterial" column="余料" />
        <result property="carCount1" column="车数1" />
        <result property="isMultiCar" column="是否多车" />
        <result property="reportRemark" column="报号备注" />
        <result property="firstTareWeight" column="首次皮重" />
        <result property="department1" column="部门1" />
        <result property="yardCode" column="料场编码" />
        <result property="reporter" column="报号人" />
        <result property="adjustRemark" column="调整备注" />
        <result property="storehouseImage" column="库房图片" />
        <result property="imagePath" column="图片路径" />
        <result property="multiAllotDetail" column="多调拨单明细" />
        <result property="netWeight1" column="净重1" />
        <result property="businessYearMonth" column="业务年月" />
        <result property="squad" column="中队" />
        <result property="materialGroup1" column="物料组1" />
        <result property="custodianId" column="保管员id" />
        <result property="shortCode" column="简码" />
        <result property="selfMergeCategory" column="自合并分类" />
        <result property="custodianName" column="保管员姓名" />
        <result property="status" column="状态" />
    </resultMap>

    <sql id="selectViewDbSkVo">
        SELECT
            调拨明细编号,
            库房编号,
            单据类型,
            车号,
            车型,
            毛重,
            皮重,
            净重,
            仪表编号,
            部门,
            计量图片文件,
            计量录像文件,
            门卫,
            出库时间,
            计量员,
            计量时间,
            皮重图片文件,
            皮重录像文件,
            单据状态,
            保管员,
            操作时间,
            调整数量,
            计量曲率,
            出库编号,
            计量类型,
            件数,
            原单编号,
            备注,
            卡号,
            调拨编号,
            调拨编码,
            调拨类型,
            客户编码,
            客户名称,
            物料组,
            物资编码,
            物资名称,
            计量单位,
            销售公司,
            库房,
            料场,
            调拨数量,
            实发数量,
            车数,
            计划单价,
            销售单价,
            税率,
            调拨员,
            调拨时间,
            余额,
            尾料,
            余料,
            车数1,
            是否多车,
            报号备注,
            首次皮重,
            部门1,
            料场编码,
            报号人,
            调整备注,
            库房图片,
            图片路径,
            多调拨单明细,
            净重1,
            业务年月,
            中队,
            物料组1,
            保管员id,
            简码,
            自合并分类,
            保管员姓名,
            状态
        FROM VIEW_DB_SK
    </sql>

    <select id="selectViewDbSkList" parameterType="WmsMaterialOut" resultMap="ViewDbSkResult">
        SELECT
            b.调拨明细编号,
            b.库房编号,
            b.单据类型,
            b.车号,
            b.车型,
            b.毛重,
            b.皮重,
            b.净重,
            b.仪表编号,
            b.部门,
            b.计量图片文件,
            b.计量录像文件,
            b.门卫,
            b.出库时间,
            b.计量员,
            b.计量时间,
            b.皮重图片文件,
            b.皮重录像文件,
            b.单据状态,
            b.保管员,
            b.操作时间,
            b.调整数量,
            b.计量曲率,
            b.出库编号,
            b.计量类型,
            b.件数,
            b.原单编号,
            b.备注,
            b.卡号,
            b.调拨编号,
            b.调拨编码,
            b.调拨类型,
            b.客户编码,
            b.客户名称,
            b.物料组,
            b.物资编码,
            b.物资名称,
            b.计量单位,
            b.销售公司,
            b.库房,
            b.料场,
            b.调拨数量,
            b.实发数量,
            b.车数,
            b.计划单价,
            b.销售单价,
            b.税率,
            b.调拨员,
            b.调拨时间,
            b.余额,
            b.尾料,
            b.余料,
            b.车数1,
            b.是否多车,
            b.报号备注,
            b.首次皮重,
            b.部门1,
            b.料场编码,
            b.报号人,
            b.调整备注,
            b.库房图片,
            b.图片路径,
            b.多调拨单明细,
            b.净重1,
            b.业务年月,
            b.中队,
            b.物料组1,
            b.保管员id,
            b.简码,
            b.自合并分类,
            b.保管员姓名,
            b.状态
        FROM VIEW_KC_SK a
        LEFT JOIN VIEW_DB_SK b ON a.物资名称 = b.物资名称
        WHERE a.出库时间 > #{outboundTime} AND a.账存重量 > 0
        ORDER BY 出库时间
        OFFSET 0 ROWS
        FETCH NEXT 100 ROWS ONLY
    </select>

    <select id="selectViewDbSkById" parameterType="String" resultMap="ViewDbSkResult">
        <include refid="selectViewDbSkVo"/>
        WHERE 调拨明细编号 = #{allotDetailId}
    </select>
</mapper>
