<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.WzjtViewJlSkMapper">

    <!-- 结果映射 -->
    <resultMap type="WmsMaterialIn" id="ViewJlSkResult">
        <result property="jlBh" column="接料编号"/>
        <result property="dhBh" column="到货编号"/>
        <result property="hpBh" column="货票编号"/>
        <result property="dhLx" column="到货类型"/>
        <result property="kf" column="库房"/>
        <result property="djLx" column="单据类型"/>
        <result property="ch" column="车号"/>
        <result property="cs" column="车数"/>
        <result property="asYdh" column="AS运单号"/>
        <result property="fysl" column="发运数量"/>
        <result property="dhsl" column="到货数量"/>
        <result property="jly" column="计量员"/>
        <result property="jlsj" column="计量时间"/>
        <result property="csMc" column="厂商名称"/>
        <result property="wzbm" column="物资编码"/>
        <result property="jllx" column="计量类型"/>
        <result property="jlr" column="交料人"/>
        <result property="jlsjR" column="交料时间"/>
        <result property="bgy" column="保管员"/>
        <result property="zd" column="中队"/>
        <result property="lz" column="料组"/>
        <result property="jlsjT" column="接料时间"/>
        <result property="ysr" column="验收人"/>
        <result property="yssj" column="验收时间"/>
        <result property="jhr" column="稽核人"/>
        <result property="jhsj" column="稽核时间"/>
        <result property="dksj" column="到库时间"/>
        <result property="fysj" column="发运时间"/>
        <result property="fyfs" column="发运方式"/>
        <result property="fz" column="发站"/>
        <result property="dz" column="到站"/>
        <result property="yynY" column="业务年月"/>
        <result property="zt" column="状态"/>
        <result property="xcbh" column="卸车编号"/>
        <result property="pzbm" column="品种编码"/>
        <result property="wzmc" column="物资名称"/>
        <result property="jldw" column="计量单位"/>
        <result property="wzlb" column="物资类别"/>
        <result property="ysrBm" column="验收人编码"/>
        <result property="jlrBm" column="接料人编码"/>
        <result property="pzmc" column="品种名称"/>
        <result property="ywfgs" column="业务分公司"/>
        <result property="zxzdMc" column="装卸队名称"/>
        <result property="xcfs" column="卸车方式"/>
        <result property="xczysjQ" column="卸车作业起始时间"/>
        <result property="xczysjZ" column="卸车作业截止时间"/>
        <result property="cksj" column="出库时间"/>
        <result property="xcyxm" column="现场员姓名"/>
    </resultMap>

    <!-- 动态查询列表 -->
    <select id="selectViewJlSkList" parameterType="WmsMaterialIn" resultMap="ViewJlSkResult">
        SELECT B.*
        FROM [dbo].[VIEW_KC_SK] A
          LEFT JOIN [dbo].[VIEW_JL_SK] B ON B.[物资名称] = A.[物资名称]
        WHERE B.[物资编码] LIKE 'A%'
          AND B.[接料时间] > #{jlsjT}
        ORDER BY B.[接料时间]
        OFFSET 0 ROWS
        FETCH NEXT 100 ROWS ONLY
    </select>

</mapper>
