<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.WzjtViewKcSkMapper">

    <resultMap type="WmsMaterialStock" id="ViewKcSkResult">
        <result property="inventoryId" column="库存编号"/>
        <result property="wzbm" column="物资编码"/>
        <result property="actualWeight" column="实存重量"/>
        <result property="status" column="状态"/>
        <result property="remark" column="备注"/>
        <result property="wzmc" column="物资名称"/>
        <result property="jldw" column="计量单位"/>
        <result property="warehouse" column="库房"/>
        <result property="bookWeight" column="账存重量"/>
        <result property="varietyCode" column="品种编码"/>
        <result property="pzmc" column="品种名称"/>
        <result property="wzlb" column="物资类别"/>
        <result property="reservedWeight" column="预拨重量"/>
        <result property="availableWeight" column="可拨重量"/>
        <result property="squadron" column="中队"/>
        <result property="team" column="班组"/>
        <result property="company" column="所属公司"/>
    </resultMap>

    <select id="selectViewKcSkList" parameterType="WmsMaterialStock" resultMap="ViewKcSkResult">
        SELECT *
        FROM VIEW_KC_SK
        WHERE [实存重量] > 0
    </select>

</mapper>
