# 项目相关配置
ruoyi:
  # 名称
  name: RuoYi
  # 版本
  version: 3.9.0
  # 版权年份
  copyrightYear: 2025
  # 文件路径 示例（ Windows配置D:/ruoyi/uploadPath，Linux配置 /home/ruoyi/uploadPath）
  profile: D:/ruoyi/uploadPath
  # 获取ip地址开关
  addressEnabled: false
  # 验证码类型 math 数字计算 char 字符验证
  captchaType: math

# 开发环境配置
server:
  # 服务器的HTTP端口，默认为8080
  port: 10030
  servlet:
    # 应用的访问路径
    context-path: /
  tomcat:
    # tomcat的URI编码
    uri-encoding: UTF-8
    # 连接数满后的排队数，默认为100
    accept-count: 1000
    threads:
      # tomcat最大线程数，默认为200
      max: 800
      # Tomcat启动初始化的线程数，默认值10
      min-spare: 100
    max-http-form-post-size: 2097152 # 2MB

# 日志配置
logging:
  level:
    org.springframework: warn
    org.springframework.web.socket: debug
    javax.websocket: debug

# 用户配置
user:
  password:
    # 密码最大错误次数
    maxRetryCount: 5
    # 密码锁定时间（默认10分钟）
    lockTime: 10

# Spring配置
spring:
  # 资源信息
  messages:
    # 国际化资源文件路径
    basename: i18n/messages
  profiles:
    active: druid
  # 文件上传
  servlet:
    multipart:
      # 单个文件大小
      max-file-size: 10MB
      # 设置总上传的文件大小
      max-request-size: 20MB
  # 服务模块
  devtools:
    restart:
      # 热部署开关
      enabled: true
  # redis 配置
  redis:
    # 地址
    host: localhost
    # 端口，默认为6379
    port: 6379
    # 数据库索引
    database: 0
    # 密码
    password: wms_ipc
    # 连接超时时间
    timeout: 10s
    lettuce:
      pool:
        # 连接池中的最小空闲连接
        min-idle: 0
        # 连接池中的最大空闲连接
        max-idle: 8
        # 连接池的最大数据库连接数
        max-active: 8
        # #连接池最大阻塞等待时间（使用负值表示没有限制）
        max-wait: -1ms

# token配置
token:
  # 令牌自定义标识
  header: Authorization
  # 令牌密钥
  secret: abcdefghijklmnopqrstuvwxyz
  # 令牌有效期（默认30分钟）
  expireTime: 1440

# MyBatis配置
mybatis:
  # 搜索指定包别名
  typeAliasesPackage: com.ruoyi.**.domain
  # 配置mapper的扫描，找到所有的mapper.xml映射文件
  mapperLocations: classpath*:mapper/**/*Mapper.xml
  # 加载全局的配置文件
  configLocation: classpath:mybatis/mybatis-config.xml

# PageHelper分页插件
pagehelper:
  helperDialect: mysql
  supportMethodsArguments: true
  params: count=countSql

# Swagger配置
swagger:
  # 是否开启swagger
  enabled: true
  # 请求前缀
  pathMapping: /dev-api

# 防盗链配置
referer:
  # 防盗链开关
  enabled: false
  # 允许的域名列表
  allowed-domains: localhost,127.0.0.1,ruoyi.vip,www.ruoyi.vip

# 防止XSS攻击
xss:
  # 过滤开关
  enabled: true
  # 排除链接（多个用逗号分隔）
  excludes: /system/notice
  # 匹配链接
  urlPatterns: /system/*,/monitor/*,/tool/*

lanya:
  base-url: 112.98.110.101:8091/gateway-service # 指向 lanya 服务的地址
  username: admin # lanya 服务用户名
  password: xrkc168168 # lanya 服务密码
  enabled-lanya-websocket-subscribe: false # 是否接收 lanya websocket 消息

  # 将 lanya 服务的消息转发给 forward-url 指向的地址
  forward-url: http://localhost:10030/system/lanya-transfer/message-endpoint

  # 是否将 lanya 服务的消息转发给 forward-url 指向的地址
  forward-enable: false

  # 是否将 lanya 服务的消息保存到 druid.lanya90 配置的数据库
  save-person-location: false

  position: # position_history 表数据同步
    sync-table: # 同步 lanya position_history 表数据并执行报警规则检测
      enabled: false # 物资公司90部署打开
      past-table: # 是否在启动时同步过往的表
        enabled: false
    sync-api: # 同步 101 机器的position_history 表数据到物资公司90数据库
      enabled: false # 物资公司跳板部署打开（true）
      api-url: http://112.98.110.101:10030/system/lanya_position_history/new
    mock: # 模拟数据
      enabled: true # 模拟数据时打开
      personIds: 1925015210049478657,1925015210049478657
      personChangeIds: 1925015210049478651,1925015210049478657
      personDates: 2025-11-10 10:00:00,2025-11-10 10:00:00
      vehicleIds: 1925015210049478657,1925015210049478657
      vehicleChangeIds: 1925015210049478651,1925015210049478657
      vehicleDates: 2025-11-10 10:00:00,2025-11-10 10:00:00
      vehicleNumbers: 川A12345,川A12345


  issuing: # device_card_sender_log 表数据同步
    sync: # 同步 lanya device_card_sender_log 表数据到 wms 数据库
      enabled: false # 物资公司90部署打开

  # 定时同步物资公司发送定位卡播报信息到凯德信
  card-message-broadcast:
    sync:
      # 物资公司跳板服务器打开（true）
      enabled: false
  # 定时同步凯德信定位卡点击报警信息到物资公司
  alarm:
    sync-api:
      # 物资公司跳板服务器打开（true）
      enabled: false
      api-url: http://112.98.110.101:10030/system/lanya_core_alarm/new-sos

wzgs:

  jl: # 接料数据表同步
    sync:
      enabled: true # 物资公司90部署打开

  db: # 调拨数据表同步
    sync:
      enabled: false # 物资公司90部署打开
      file-api-url: http://112.98.110.101:10050/download/resource?resource=

  kc: # 库存数据表同步
    sync:
      enabled: false # 物资公司90部署打开

  yy: # 预约数据表同步
    sync:
      enabled: false # 物资公司90部署打开
wms:
  ws-data:
    # 人员报警 websocket 定时任务
    person-alarm: 0/5 * * * * ?

    # 车辆报警 websocket 定时任务
    vehicle-alarm: 0/5 * * * * ?

    # 物资统计 websocket 定时任务
    material-statics: 0/5 * * * * ?

    # 区域统计 websocket 定时任务
    area-statics: 0/5 * * * * ?
  wms-material-identify-record-list-day-offset: -5

media-server:
  ffmpeg-command: ffmpeg -rtsp_transport udp -i %s -c:v copy -an -fflags +genpts -use_wallclock_as_timestamps 1 -flags +global_header -flush_packets 1 -f flv