.VciTable {
  color: #fff;
  .vt-header {
    .vt-tr {
      background-color: rgba(21, 79, 212, 0.25);
      .VciCell {
        padding-left: 16px;
        margin-right: 3px;
        padding-right: 16px;
      }
    }
  }
  .vt-body {
    color: #cedde5;
    .vt-tr {
      margin-top: 3hpx;
      .VciCell {
        margin-right: 3px;
        border-radius: 2px;
        padding-left: 16px;
        padding-right: 16px;
        background-color: rgba(21, 79, 212, 0.1);
        &.vc-last-column {
          margin-right: 0;
        }
      }
      &.vtr-odd {
        .VciCell {
          background-color: rgba(21, 79, 212, 0.15);
        }
      }
    }
  }
}