:root {
  --element: #669eff;
  --element-lower: #409eff;
  --element-lower-max: #0e284b;
  --element-upper: #204175;
  --element-black: rgba(#0e274b, 0.2);
  --element-error: #ed4f4f;
  --element-secondary: #ccc;
}
.el-select-dropdown {
  border-color: #0e274b;
  background-color: #0e284b;
  .el-select-dropdown__item {
    color: #fff;
    &.hover {
      color: #204175;
    }
    &.selected {
      color: #409eff;
    }
  }
  .popper__arrow {
    border-bottom-color: #0e274b !important;
    &::after {
      border-bottom-color: #0e274b !important;
    }
  }
}
// 日期选择
.el-date-editor {
  background-color: var(--element-black);
  border-color: var(--element-lower-max);
  &:hover {
    border-color: var(--element-lower);
  }
  &.is-active,
  &.is-active:hover {
    border-color: var(--element-lower);
  }
  .el-range-input,
  .el-range-separator {
    color: var(--element);
  }
  .el-range-separator {
  }
  &.el-date-editor--datetimerange {
    width: 468px;
  }
}
.el-picker-panel {
  border: 1px solid var(--element-lower);
  background-color: rgba(#0e274b, 0.8);
  backdrop-filter: blur(4px);
  color: var(--element);
  .el-picker-panel__body-wrapper {
    .el-picker-panel__sidebar {
      background-color: var(--element-black);
      border-right-color: var(--element-lower);
      .el-picker-panel__shortcut {
        color: var(--element-lower);
      }
    }
    .el-picker-panel__body {
      .el-date-picker__time-header {
        border-bottom-color: var(--element-lower);
        .el-input__inner {
          border: 1px solid var(--element);
          background-color: transparent;
          color: var(--element);
          outline: 0;
        }
        .el-time-panel {
          background-color: #0e274b;
          border-color: var(--element);
          color: #ffffff;
          .el-time-panel__content {
            &::before,
            &::after {
              border-top-color: var(--element);
              border-bottom-color: var(--element);
            }
          }
          .el-time-spinner__item {
            color: #1c59ae;
            &.active {
              color: var(--element);
            }
          }
        }
        .el-time-panel__footer {
          border-top-color: var(--element);
          .el-time-panel__btn {
            &.cancel {
              color: #cfcfcf;
            }
          }
        }
      }
      .el-date-picker__header {
        border-bottom-color: var(--element);
        .el-icon-d-arrow-left,
        .el-icon-d-arrow-right {
          color: #86b1ff;
        }
        .el-icon-arrow-left,
        .el-icon-arrow-right {
          color: #5c92ff;
        }
        .el-date-picker__header-label {
          color: #ccc;
          &:hover {
            color: var(--element);
          }
        }
      }
      .el-date-range-picker__time-header {
        border-bottom-color: var(--element-lower);
        .el-date-range-picker__editors-wrap {
          .el-date-range-picker__time-picker-wrap {
            &:first-child {
              opacity: 0;
              input {
                cursor: default;
              }
            }
            .el-date-range-picker__editor {
              input {
                background-color: var(--element-black);
                border-color: var(--element-lower-max);
                color: var(--element);
                &:hover {
                  border: 1px solid var(--element-lower);
                }
                &.is-active,
                &.is-active:hover {
                  border: 1px solid var(--element-lower);
                }
              }
            }
          }
          .el-time-panel {
            border: 1px solid var(--element-lower);
            background-color: var(--element-black);
            backdrop-filter: blur(4px);
            .el-time-spinner__item {
              color: var(--element);
              &:hover {
                background-color: var(--element-lower);
              }
            }
            .el-time-panel__content {
              &::before,
              &::after {
                border-top-color: var(--element-lower);
                border-bottom-color: var(--element-lower);
              }
            }
            .el-time-panel__footer {
              border-top-color: var(--element-lower);
              .el-time-panel__btn {
                &.cancel {
                  color: var(--element-secondary);
                }
                &.confirm {
                  color: var(--element);
                }
              }
            }
          }
        }
      }
      .el-picker-panel__content {
        border-right-color: var(--element-lower);
        .el-year-table {
          td {
            .cell {
              color: #4a6088;
            }
            &.today {
              .cell {
                color: #5e99ff;
              }
            }
            &.current {
              .cell {
                color: #fff;
                background-color: #4f94ff;
              }
            }
          }
        }
        .el-date-range-picker__header {
          .el-picker-panel__icon-btn {
            color: var(--element);
            &.is-disabled {
              color: var(--element-lower);
            }
          }
        }
        .el-month-table {
          td {
            .cell {
              color: #fff;
            }
            &.in-range {
              div {
                background-color: #145da8;
              }
            }
            &.disabled {
              .cell {
                background-color: #001e36;
              }
            }
            &.current {
              .cell {
                background-color: #145da8;
              }
            }
          }
        }
        .el-date-table {
          th {
            color: var(--element);
            border-bottom-color: var(--element-lower);
          }
          .el-date-table__row {
            .in-range {
              div {
                background-color: var(--element-lower-max);
              }
            }
            .disabled {
              div {
                background-color: var(--element-black);
              }
            }
            .today {
              div span {
                color: var(--element-lower);
              }
              &.current {
                div span {
                  color: var(--element-upper);
                }
              }
            }
            .start-date,
            .end-date {
              span {
                background-color: var(--element-lower);
              }
            }
            td.available:hover {
              color: #fff;
            }
          }
        }
      }
    }
  }
  .el-picker-panel__footer {
    border-top-color: var(--element-lower);
    background-color: var(--element-black);
    .el-button:first-child {
      display: none;
    }
    .el-button {
      border: none;
      transition: 0.2s ease-in-out;
      background-color: var(--element-lower);
      color: #fff;
      &:hover,
      &:focus {
        opacity: 0.8;
      }
      &:active {
        opacity: 1;
        background-color: var(--element);
      }
    }
  }
  .popper__arrow {
    border-bottom-color: var(--element-lower) !important;
    &::after {
      border-bottom-color: var(--element-lower) !important;
    }
  }
}
