// 字号
@for $i from 32 to 64 {
  .vci-fs-#{$i} {
    font-size: $i + px;
  }
}
@font-face {
  font-family: "pmzd";
  src: url("./fonts/pmzd.ttf");
}
.font-pm-zd {
  font-family: "pmzd", sans-serif;
}
@font-face {
  font-family: "oppo.b";
  src: url("./fonts/oppo.b.ttf");
}
.font-oppo-b {
  font-family: "oppo.b", sans-serif;
}
@font-face {
  font-family: "oppo.r";
  src: url("./fonts/oppo.r.ttf");
}
.font-oppo-r {
  font-family: "oppo.r", sans-serif;
}
@font-face {
  font-family: "oppo.m";
  src: url("./fonts/oppo.m.ttf");
}
.font-oppo-m {
  font-family: "oppo.m", sans-serif;
}
@font-face {
  font-family: "din";
  src: url("./fonts/din.otf");
}
.font-din {
  font-family: "din", sans-serif;
}
html, body {
  font-family: "oppo.r", sans-serif;
}
